<!-- src/menu/template/menu.ejs -->
<%- include("layout", { title: title, body: ` <section class="menu-container">
    <h1>Bienvenido <%= user %></h1>

    <div class="search-bar">
        <input type="text" placeholder="Buscar noticia..." id="search-news" />
        <button> </button>
    </div>

    <section id="news-section">
        <p>Aquí se mostrarán las noticias más recientes...</p>
    </section>
    </section>
    `
    }) %>
    s