<!-- src/menu/template/menu.ejs -->
<%- include("layout", { title: title, body: ` <section class="menu-container text-center">
    <h1>Bienvenido </h1>

    <section id="news-section">
        <p>Aquí se mostrarán las noticias más recientes...</p>
    </section>
    </section>
    `
    }) %>
    