body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

.header,
.footer {
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;

}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background: #444;
    padding: 0.5rem;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.menu-container {
    text-align: center;
    min-height: 80vh;

}

.search-bar {
    margin: 1rem auto;
}

.search-bar input {
    padding: 0.5rem;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #aaa;
}
.header h1 {
    margin: 0;
}